{% extends 'index/public.html' %}

{% block content %}
<row>
        <i-col span="24">
            <img src="/static/index/imgs/banner.png" alt="" :style="banner">
        </i-col>
    </row>
    <row>
        <i-col span="24" class="subtitlep">
            <span class="subtitle">集线上媒体门户和线下服务站点为一体的生活服务平台</span>
        </i-col>
    </row>
    <row>
        <i-col class="content-center" span="8"><img src="/static/index/imgs/1.png" alt=""></i-col>
        <i-col class="content-center" span="8"><img src="/static/index/imgs/2.png" alt=""></i-col>
        <i-col class="content-center" span="8"><img src="/static/index/imgs/3.png" alt=""></i-col>
    </row>
    <row>
        <i-col class="content-center content" span="24">
            南京可每人文化传媒有限公司创建于2015年12月，总部位于南京市江宁区佛城西路。魔法屋致力于高校新媒体运营与发展。2017年9月，魔法屋已完成南京地区高校资源整合。依托优质的线上渠道，魔法屋正覆盖越来越多线上线下校园资源，打造立体的校园传媒渠道。
        </i-col>
    </row>
    <row>
        <i-col class="halfcontent" span="12">
            <div>公司介绍</div>
            <p>
                校园魔法屋是致力于为大学生提供信息查询、校园资讯、生活服务、吃喝玩乐、社区交流、创业孵化等服务的综合性移动社区，主要由应用功能、校园资讯、交流社区三个部分组成，分别达到app使用高频次、高时长、强粘性的特点。我们面对大学生，实现功能服务与媒体服务相结合，从而实现全国打响校园魔法屋的名气，推向全国各大高校。
            </p>
            <p>
                校园魔法屋总体战略路线为基本信息多样化战略、更新与服务多样性战略、文化普及战略以及资本运营战略。同时结合市场开拓、网络营销、市场联络、APP推广等多种策略，计划在2018年之后，首先在南京地区开始推广，在各高校内寻找代理人员或者运营团队。在校内为学生搭建提供功能工具和内容的平台，同时为校外和商家的交易搭建好基础。2019分析前两年的运营情况，在全国打响校园魔法屋的名气，推向全国各大高校。
            </p>
        </i-col>
        <i-col span="12"><img :style="banner" src="/static/index/imgs/right.jpeg" alt=""></i-col>
    </row>
    <row>
        <i-col span="12"><img :style="banner" src="/static/index/imgs/left.jpeg" alt=""></i-col>
        <i-col class="halfcontent" span="12">
            <div>业务介绍</div>
            <p>（1）功能服务</p>
            <p>·信息化服务</p>
            <p>迎新采集系统、一卡通查询充值、图书馆信息系统</p>
            <p>·教务服务</p>
            <p>课表查询、成绩查询、考试报名、教务评教</p>
            <p>·刚需应用</p>
            <p>自助打印、自助订餐、快递查询、日历记事本</p>
            <p>（2）媒体资讯：</p>
            <p>① 通过用户标签及用户行为分析，实现内容个性化定制，精准推荐（如新生季/考研/求职等学生强相关时间节点）；</p>
            <p>② 聚合校内外大学生相关媒体，做最适合大学生阅读的有趣好玩的内容；</p>
            <p>③ 聚合掌阅/智联招聘等资源，打造属于大学生专属的读书/求职等栏目。</p>
            <br>
            <p>（3） 社交服务</p>
            <p>校内社区，熟人社交，粘性更强</p>
        </i-col>
    </row>
{% endblock %}