{% extends 'mags/public.html' %}
{% block content %}
<div class="layui-container mags_bind_form">
    <form action="{{ url('cungengxin') }}" class="layui-form" method="post">
        {% csrf_token %}
        <div class="layui-form-item">
            <label for="" class="layui-form-label magic_logo">
                <img src="/static/mags/imgs/logo.png" alt="">
            </label>
            <div class="layui-input-block mags_form_header layui-word-aux">
                更新成绩、课表
            </div>
        </div>
        <input type="hidden" name="uuid" value="{{ uuid }}">
{#        <input type="hidden" name="type" value="{{ type }}">#}
        <div class="layui-form-item">
            <label for="" class="layui-form-label">验证码</label>
            <div class="layui-input-block">
                <input type="text" name="stucode" required  lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input"
                    style="width: 50%;display: inline">
                <img src="{{ url('vcode') }}?uuid={{ uuid }}" alt="">
                <i class="layui-icon" id="refresh_code" style="font-weight: bold">&#x1002;</i>
            </div>
        </div>
        <button class="layui-btn layui-btn-primary mags_submitter" lay-submit>更新</button>
    </form>
</div>
{% endblock %}
<script>
    {% block jscontent %}
        $('#refresh_code').click(function () {
            console.log(123)
            $(this).prev().attr("src", "{{ url('vcode') }}" + "?uuid={{ uuid }}" + "&random=" + Math.random())
        })
    {% endblock %}
</script>